<!-- src/app/product-list/product-list.component.html -->
<div class="container cart-container">
  <div class="d-flex justify-content-end mt-3 mb-3">
    <div class="me-3">
      <strong>Total Amount:</strong> ${{ totalAmount }}
    </div>
    <button class="btn btn-primary" routerLink="/checkout">Proceed</button>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4" *ngFor="let cartProduct of myCartProducts">
      <div class="card w-100">
        <div class="row no-gutters">
          <div class="col-md-4 cart-product-img">
            <img [src]="cartProduct.product_img" alt="{{ cartProduct.product_name }}" class="card-img" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ cartProduct.product_name }}</h5>
              <p class="card-text">
                <strong>Price:</strong> {{ cartProduct.product_price }}
              </p>
              <!-- <p class="card-text">{{ cartProduct.description }}</p> -->
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="me-3">
      <strong>Total Amount:</strong> ${{ totalAmount }}
    </div>
    <button class="btn btn-primary" routerLink="/checkout">Proceed</button>
  </div>
</div>
