<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card">
        <img [src]="product.product_img" class="card-img-top" alt="{{ product.product_name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <p class="card-text">{{ product.product_description }}</p>
          <!-- <p class="card-text"><strong>Price:</strong> {{ product.product_price | currency }}</p> -->
          <p class="card-text"><strong>Price:</strong> {{ product.product_price }}</p>
          <button class="btn btn-primary" routerLink="/product-details" (click)="navigation('/product-details', product.id)">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>